<div class="row">
  <br>
  <h5 class="header col s12 light">Bienvenue,
    <%= @user.username %></h5>
</div>

<div class="row">
  <% @user_recent_media.each do |media| %>
  <%= render 'components/card', media: media %>
  <% end %>
</div>