<nav class="orange">
  <div class="nav-wrapper container">
    <%= link_to "InstaVente", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Explorez", "#" %></li>
      <li><%= link_to "Connexion", "#" %></li>
    </ul>
  </div>
</nav>