<nav class="orange">
  <div class="nav-wrapper container">
    <%= link_to "InstaVente", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Explorez", instagram_user_recent_media_path %></li>
      <li><%= link_to "Search", instagram_search_path %></li>
    </ul>
  </div>
</nav>